# bytedance
Host code.byted.org
    HostName code.byted.org
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_rsa
    PubkeyAcceptedKeyTypes +ssh-rsa
    User caowenbo

# github
Host github.com
     HostName github.com
     PreferredAuthentications publickey
     IdentityFile ~/.ssh/github
     User caowenbo

Host 10.*
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no

# Fig ssh integration. Keep at the bottom of this file.
Match all
  Include ~/.fig/ssh
